#topbar {
   background-color: hsl(189, 100%, 50%); /* hue, saturation, alpha */
   border: 10px solid rgba(25, 130, 255, 0.5); /* red blue green color of border for top bar */
   border-radius: 1em;
   border-top-right-radius: 10% 30%;
}

.bar li {
   list-style-type: none;
   letter-spacing: normal;
   display: inline-block;
   position: relative;
}

main div {
   color: red;
   text-decoration: underline;
   font-size: 20mm 1cm;
   text-align: center;
   display: inline;
   position: static;
}
main > h2 {
   height: 115%;
   width: 110%;
   max-width: 100px;
   min-width: 5px;
}